


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Quicksand:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
#root {
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
} 
:root {
    --background-color: #010e02;
    --text-color: white;
  }
  
  [data-theme='light'] {
    --background-color: #F7EFE5;
    --text-color: #010e02;
  }
  
body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .theme-toggle .fas {
    color: var(--background-color);
  }
a {
    color: #313131;
    transition: .3s;
}
    
    a:hover,
    a:active,
    a:focus {
        color: #f0e3f3;
        outline: none;
        text-decoration: none;
    }
    
    .btn:focus,
    .form-control:focus {
        box-shadow: none;
    }

    .company-logo {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      margin: 0;
      font-size: 28px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      vertical-align: middle;
    }
    .btn {
        padding: 12px 25px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #ffffff;
        background: transparent !important;
        border: 1px solid crimson !important;
        border-radius: 0;
        box-shadow: inset 0 0 0 50px transparent !important;
        transition: ease-out 0.3s;
        -webkit-transition: ease-out 0.3s;
        -moz-transition: ease-out 0.3s;
    }
    
    .btn:hover {
        color: rgb(76 194 115 / var(--tw-bg-opacity)) !important;
        background: transparent;
        box-shadow: inset 0 0 0 0 #04f63c !important;
        border-color: seagreen !important;
    }
  
    #loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
        -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
        transition: opacity .3s ease-out, visibility 0s linear .3s;
        z-index: 999;
    }
    
#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid crimson;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 10px;
    bottom: 10px;
    z-index: 9;
}

.back-to-top i {
    color: seagreen;
}

.back-to-top:hover i {
    color: crimson;
}
.whatsapp {
    position: fixed;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    border: 1px solid transparent !important;
    left: 10px;
    bottom: 10px;
    z-index: 9;
}
.badge-subhead {
    background-color:  #08e9af;
    color:  black;
    margin-bottom: 8px;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 40px;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  
/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    background-color: #0a1b2240 !important;
    top: 0px;
    width: 100vw;
    height: 80px;
    position: fixed;
    left: 0;
}

  /* Navbar */
  .navbar .navbar-brand {
    margin: 0;
    font-size: 35px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    color: seagreen !important;
    
}
@media (max-width:768px) {
    .navbar .navbar-brand {
        display: none;
    }
}
.navbar .navbar-brand:hover{
    color: #95da95;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}
.navbar-nav .nav-item .nav-link {
color: crimson !important;
margin-right: 10px;
}
.navbar-nav .nav-item .nav-link:hover {
color: seagreen !important;
}
.navbar-nav .nav-item.active .nav-link {
color: green;
}
.navbar-toggler {
    border-color: transparent !important; 
}
.navbar-toggler-icon {
    /* Toggler with crimson, seagreen, crimson */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='crimson' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22'/%3E%3Cpath stroke='seagreen' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 15h22'/%3E%3Cpath stroke='crimson' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 23h22'/%3E%3C/svg%3E") !important;
     /* Toggler with crimson, crimson, crimson */
     /* 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='crimson' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    */
}

@media (max-width: 767px) {
.navbar-collapse {
/* Styling for the collapsed navbar on small screens */
background-color: #1d3b2d;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow-y: hidden;
color: #333;
width: 100vw;
z-index: 999;
}

.navbar-toggler {
/* Adjusted z-index for the navbar toggler */
z-index: 1001;
}
}

.navbar-toggler-icon {
background-color: transparent;
}
.navbar-dark .navbar-toggler{
color: black;
border-color: transparent;
background: transparent;
}
@media (max-width: 767px) {
    .navbar-nav .nav-item {
        display: block;
        border: 2px solid seagreen;
        margin: 17px;
        padding: 5px;
        width: 95vw;
    }

    .navbar-collapse {
        /* Add padding to push content down */
        padding-top: 70px;
    }
}
@media (min-width: 768px) {
.navbar-nav .nav-item .nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s, color 0.3s;
}
.navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #b5d3c4;
}
}


/**********************************/
/*********** Hero CSS **********/
/**********************************/
.hero{
background: linear-gradient(#333333, #2e8b5785), url(/src/assets/img/It.jpg );
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;
height: fit-content; 
width: 100vw !important;
position: relative;
left: 0;
}

/* Override the .d-md-block rule within the media query */
.hero .d-md-block {     
display: flex !important;
}
.hero-col{
display: flex !important;
flex-direction: column;
align-items: center !important;
justify-content: center !important;
height: max-content !important; 
overflow: hidden;
}
@media (min-width: 768px) {
.hero-text{
    width: 70%;
}
}
.hero-text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.hero-text p{
width: 90%;
}
@media (max-width: 768px) {
.hero .d-md-block {     
display: none !important;
}
}
@media (max-width: 865px) {
.intro-head{
    font-size: 30px !important;
    left: 0 !important;
}
.hero-text p{
    width: 100%;
}
}
@media (min-width: 992px) {
.hero-text .intro-head{
margin-top: 67px;
}  
}
.img-fluid{
    object-fit: fill;
    height: 577px !important;
    width: fit-content;
    top: -54px;
    position: relative;
}
.intro-head{
    color: mistyrose;
    font-size: 40px;
    font-family: monospace;
    position: relative;
    width: 98%;
    left: 60px;
    margin-bottom: 20px;
    margin-top: 110px;
}
.end-head{
    color: black;
    font-size: 16px;
    font-family: monospace;
    width: 100%;
    font-weight: 900;
}
/**********************************/
/*********** services CSS **********/
/**********************************/
.services {
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /*background: repeating-linear-gradient(52deg, black, #1341791c 100px); */
}

.services-intro{
    font-size: 70px;
    margin-bottom: 20px;
    font-family: "Caveat";
    font-weight: 1000;
    color: crimson;
}
#services h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "quicksand", cursive;
    font-weight: 400;
    font-style: normal;
}
.services-section {
    width: 80vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.services-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.service-card{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}
.service-card h3{
    color: crimson;
}
@media (min-width:1290px) {
    .service-card {
        width: 500px;
    }
}

@media (min-width:768px) and (max-width:1290px)  {
    .service-card {
        width: 38vw;
    }
}
@media (max-width:768px) {
    .service-card {
        width: 97vw;
    }
}
.circle-icon {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    background-color: seagreen; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-icon i {
    color: #fff; 
    font-size: 40px; 
  }
  
.card1{
    
    background: linear-gradient(#24292eb0, #010f1c), url(/src/assets/img/website.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 450px;
}
.card2 {
    background: linear-gradient(#050a0b, #030505bf), url(/src/assets/img/software.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    color: aliceblue;
    height: 405px;
}

.card3{
    background: linear-gradient(#2e8b5773, #0b0f0df5);
    color: white;
}
.card3-image{
    width: 70%;
    height: 500px;
}

.card5{   
    background: aliceblue;
    color: black;
    overflow: hidden;
    height: 450px;
}
.card5-row{
    width: 100%;
}
@media (max-width: 768px) {

    .card5-col{
        top: 110px !important;
    }  
    .card5-image {
    bottom: -78px;
    height: 400px !important;
    width: 400px !important;
    left: 0 !important;
    }
}


.card5-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card5-image{
    width: 281px;
    height: 316px;
    border-radius: 50%;
    left: -53px;
    position: relative;
}
.card4{   
    color: black;
    background: aliceblue;
    height: 405px;
    overflow: hidden;
}
.card4-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
.card4-imagecol{
    display: none;
}
}
.card4-image{
    width: 281px;
    height: 316px;
    border-radius: 50%;
    left: -74px;
    top: -12px;
    position: relative;
}
/**********************************/
/*********** Banner CSS **********/
/**********************************/
@media (max-width: 768px) {
    .banner{
        width: 97vw !important;
    }
}
@media (min-width: 768px) {
    .banner{
        width: 80vw !important;
    }
}
     
.banner{
display: flex;
background: linear-gradient(#333333, #2e8b5785), url(/src/assets/img/amlogo.jpeg);
background-size: cover;
background-repeat: no-repeat;
position: relative;
margin-left: 10vw;
border-radius: 20px;
height: fit-content;
margin-bottom: 30px;
}

.banner-col {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.bannerhead {
    font-size: 30px;
    margin-top: 20px;
    font-family: 'quicksand';
    font-weight: 1000;
    color: seagreen;
}
@media (min-width:993px) {
    .bannerhead {
        font-size: 35px;
    }
}
.bannercontent{
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: azure;
    font-family: monospace;
    font-weight: 400;
    align-self: flex-start;
}
.bannerfoot {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Caveat";
    color: darkkhaki; 
}
.banner-img {
height: 70%;
width: 70%;
object-fit: cover;
border-radius: 20px;
}

/**********************************/
/*********** Why Choose us CSS **********/
/**********************************/
.ChooseUsSection{

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#f91942;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#f91942;
}
.item {
background: gainsboro;
color: black;
height: 428px;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#f91942;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #f91942;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one, .one{
background:rgba(247, 198, 5, 0.20);
color:#f91942
}
.item .feature_box_col_two, .two{
background:rgba(255, 77, 28, 0.15);
color:#f91942
}
.item .feature_box_col_three, .three{
background:rgba(0, 147, 38, 0.15);
color:#f91942
}
.item .feature_box_col_four, .four{
background:rgba(0, 108, 255, 0.15);
color:#f91942
}
.item .feature_box_col_five, .five{
background:rgba(146, 39, 255, 0.15);
color:#f91942
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#f91942
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #f91942;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #f91942;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}
}
/**********************************/
/*********** Projects Done CSS **********/
/**********************************/

.projects-container {
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin-left: 10vw;
  border-radius: 20px;
  height: fit-content;
  margin-bottom: 30px;
  overflow: hidden;
  color: black;
}
.projects-row {
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.circle {
    display: flex;
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
   .one{
    background:rgba(247, 198, 5, 0.20);
   
    }
     .two{
    background:rgba(255, 77, 28, 0.15);
   
    }
     .three{
    background:rgba(0, 147, 38, 0.15);
    
    }
    .four{
    background:rgba(0, 108, 255, 0.15);
    
    }
     .five{
    background:rgba(146, 39, 255, 0.15);
    
    }
    
  .count {
    font-size: 24px;
    font-family: monospace;
    height: 24px;
    margin-bottom: 15px;
    color: #f91942;
  }
  
  .label {
    font-size: 15px;
    font-family: monospace;
    font-weight: 900;
  }
  
@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }
}

/**********************************/
/*********** FOOTER CSS **********/
/**********************************/
.deneb_footer {
    background: #02121185;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
@media (max-width: 767px) {
    .deneb_footer  .widget {
        margin-bottom: 40px;
    }
}
.deneb_footer  .widget .widget_title {
    margin-bottom: 30px;
}
.deneb_footer  .widget .widget_title h4 {
    font-weight: bold;
}
.deneb_footer  .widget .widget_title h4:after {
    content: "";
    display: block;
    max-width: 38px;
    height: 2px;
    margin-top: 5px;
}
.deneb_footer  .widegt_about p {
    margin-bottom: 20px;
}
.deneb_footer  .widegt_about .social li {
    display: inline-block;
    margin-right: 10px;
}
.deneb_footer  .widegt_about .social li a {
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 50%;
    background-color: #f9e6d4;
    color: #f91942;
    font-size: 22px;
    -webkit-transition: all all 0.5s ease-out 0s;
    -moz-transition: all all 0.5s ease-out 0s;
    -ms-transition: all all 0.5s ease-out 0s;
    -o-transition: all all 0.5s ease-out 0s;
    transition: all all 0.5s ease-out 0s;
}
.deneb_footer  .widegt_about .social li a:hover,
.deneb_footer  .widegt_about .social li a:focus {
    background-image: -moz-linear-gradient(0deg, #f91942 0%, seagreen 100%);
    background-image: -webkit-linear-gradient(0deg, #f91942 0%, seagreen 100%);
    background-image: -ms-linear-gradient(0deg, #f91942 0%, seagreen 100%);
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
}
.deneb_footer  .widget_link ul li {
    margin-bottom: 5px;
}
.deneb_footer  .widget_link ul li a {
    text-transform: capitalize;
    color: #7a808d;
    text-decoration: none;
}
.deneb_footer  .widget_link ul li a:hover,
.deneb_footer  .widget_link ul li a:focus {
    color: #f91942;
}
.deneb_footer  .widget_contact .contact_info .single_info {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.deneb_footer  .widget_contact .contact_info .single_info .icon {
    font-size: 12px;
    color: #f91942;
    margin-right: 10px;
}
.deneb_footer  .widget_contact .contact_info .single_info .info p a {
    color: #7a808d;
    text-decoration: none;
}
.deneb_footer  .widget_contact .contact_info .single_info .info p span {
    display: block;
}

.deneb_footer .copyright_area {
    background: #151c1e;
    padding: 10px 0;
}
.deneb_footer .copyright_area .copyright_text {
    text-align: center;
}
.deneb_footer .copyright_area .copyright_text p {
    color: #f91942;
}
.deneb_footer .copyright_area .copyright_text p span {
    color: #f91942;
}
.deneb_cta .cta_wrapper {
    padding: 45px 50px 42px;
    max-width: 970px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: -135px;
    position: relative;
    background-image: -moz-linear-gradient(0deg, #f91942 0%, seagreen 100%);
    background-image: -webkit-linear-gradient(0deg, #f91942 0%, seagreen 100%);
    background-image: -ms-linear-gradient(0deg, #f91942 0%, seagreen 100%);
    box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
    z-index: 1;
}
.deneb_cta .cta_wrapper:after {
    content: "";
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.deneb_cta .cta_wrapper .cta_content h3 {
    color: #fff;
    font-weight: bold;
}
@media (max-width: 767px) {
    .deneb_cta .cta_wrapper .cta_content h3 {
        font-size: 24px;
    }
}
.deneb_cta .cta_wrapper .cta_content h3:after {
    content: "";
    display: block;
    max-width: 110px;
    height: 2px;
    margin-top: 13px;
    margin-bottom: 24px;
}
.deneb_cta .cta_wrapper .cta_content p {
    color: #fff;
}
.deneb_cta .cta_wrapper .button_box {
    float: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .deneb_cta .cta_wrapper .button_box {
        float: none;
        text-align: left;
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .deneb_cta .cta_wrapper .button_box {
        float: none;
        text-align: center;
        margin-top: 30px;
    }
}
.deneb_cta .cta_wrapper .button_box .deneb_btn {
    background: #fff;
    color: #011a3e;
}
.deneb_cta .cta_wrapper .button_box .deneb_btn:hover,
.deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}
.heading-with-line {
    display: flex;
    align-items: center;
}

.heading-with-line h2 {
    margin-right: 10px; 
    color: seagreen;
}

.heading-with-line .line {
    height: 1px;
    bottom: -9px;
    position: relative;
    background-color: #f91942;
    width: 15% ;
}
.links-list{
    list-style: none;
}


/**********************************/
/*********** Testimonials CSS **********/
/**********************************/
.testimonials {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background: gainsboro;
    border-radius: 40px;
    width: 80vw !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .testimonials {
        width: 97vw !important;
    }
    .testim .cont div p {
        font-size: 15px;
    }
}
.testim {
		width: 100%;
		position: relative;
		
}


.testim .wrap {
    position: relative;
    width: 100%;
    display: flex;
    max-width: 1020px;
    margin: auto;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: #f91942;
}
    

.testim .arrow.left {
    left: 20px;
}

.testim .arrow.right {
    right: 20px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #f91942;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #f91942;
    border-color: #f91942;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img  img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}

.testim .cont div h2 {
    color: #f91942;
    font-size: 1em;
    margin: 15px 0;
}
.testim .cont div h3 {
    color: seagreen;
    font-size: 1em;
    margin: 15px 0;
}
.testim .cont div p {
    font-size: 1.15em;
    color: #333;
    width: 70%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active h3 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive h3 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}


/**********************************/
/*********** Contact Form CSS **********/
/**********************************/

.contactSection{
width: 80vw;
left: 10vw;
position: relative;
margin-bottom: 30px;
}
.contactRow {
    width: 80vw;
}

@media (max-width: 768px) {
.contactRow {
        width: 97vw;
}

.contactSection {
    width: 100vw;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
.contactform{
    border-radius: 22px ;
    background: gainsboro;
    padding: 32px;
    color: crimson;
    font-family: "Poppins", sans-serif;
}
.form-control {
font-family: monospace;

}
.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 40% !important;
}
.contact-content h3{
    color: seagreen;
    font-family: "Poppins", sans-serif; 
    font-size: 50px;
}
@media (max-width: 768px) {
    .contact-content{
    max-width: 100% !important;
    padding: 20px;
    }
}
@media (min-width: 768px) {
    .contactCol {
        border-right: 1px solid seagreen;
    }
}

/**********************************/
/*********** FAQS CSS **********/
/**********************************/
.faqs{
  margin-bottom: 30px;
  background: gainsboro !important;
  border-radius: 18px;
  max-width: 80vw !important;
}
.accordion-button:not(.collapsed){
    color: seagreen !important;

}
.accordion-button:not(.collapsed),
.accordion-button:focus {
  outline: none;
  border-color: transparent;
  color: crimson;
  box-shadow: none;
  background-color: transparent;
  
  
}
.accordion-button {
    margin-right: 30px;
    font-family: monospace;
}
.accordion-button::after {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #f91942;
  background-image: none !important;
}
.accordion-button.collapsed::after {
  background-color: var(--bs-gray-300);
}
